<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                CRM-HookahBars
                <!--          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>-->
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <!--                <ul class="navbar-nav mr-auto">-->
                <li class="nav-item active"><a href="{{ url_for('tables.index') }}"
                                               class="nav-link px-2 text-secondary">Home</a></li>
                <li class="nav-item active"><a href="#" class="nav-link px-2 text-white">Features</a></li>
                <li class="nav-item active"><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                <li class="nav-item active"><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li class="nav-item active"><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>


            <div class="text-end">
                {% if current_user.is_authenticated %}
                    <span class="px-2 text-white">Привет, {{ current_user.username }}</span>
                    {% if current_user.is_admin %}
                        <a href="{{ url_for('admin.admin_index') }}" class="btn btn-outline-light me-2" role="button">Админка</a>
                    {% endif %}
                    <a href="{{ url_for('user.logout') }}" class="btn btn-warning" role="button">Logout</a>
                {% else %}
                    <a href="{{ url_for('user.login') }}" class="btn btn-outline-light me-2" role="button">Login</a>
                    <a href="{{ url_for('user.register') }}" class="btn btn-warning" role="button">Sign-up</a>
                {% endif %}

            </div>

        </div>
    </div>
</header>